<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- CAMERA permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--Permission Given for speech to text-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--Imtiaz Added Code for loaction -->
    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- For Android 12+ -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- For Calling  -->
    <!-- Microphone (required for audio calls) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Optional but recommended -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    
    
    
    <application
        android:label="kaz_bd"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- For the Zego Calling  -->
        <!-- Required for ZEGO foreground service (call in background) -->
        <service
            android:name="zego.uikit.service.ZegoForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!--
        Imtiaz Added Code for location :

        <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyBFi80uuJIWkkLCpodFa8oXmD8XD_h8LMc"/>
        -->
      <!-- <meta-data android:name="com.google.android.geo.API_KEY"
              android:value="AIzaSyDjwPmy5gPopQRKK5zCEa-_0u18e8Lmgi"/> -->

            <meta-data android:name="com.google.android.geo.API_KEY"
              android:value="AIzaSyDByTL-51tHLFMJgUTyHe0nT3-qhD2i9Mc"/>


        <!-- <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyBFi80uuJIWkkLCpodFa8oXmD8XD_h8LMc"/> -->

        <!-- Add this meta-data for geolocator background mode -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            
        <!-- Add this if using foreground service -->
        <service
            android:name="com.lyokone.location.LocationForegroundService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Allow querying for specific browsers -->
        <package android:name="com.android.chrome" />
        <package android:name="com.microsoft.emmx" /> <!-- Edge -->
        <package android:name="org.mozilla.firefox" />
        <package android:name="com.opera.browser" />
        <package android:name="com.brave.browser" />
        <!-- Allow querying for specific browsers closed-->


        <!-- ✅ Added for email -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="mailto"/>
        </intent>

        <!-- ✅ Added for phone dialer -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
</manifest>
